
html {
  height:100%;
}
body {
  height: 100%;
  width: 100%;
  // background: url('/static/image/loading.gif') no-repeat center 250px;
  font-size: 14px;
  line-height: 1;
  color: #313131;
  overflow-x: hidden;
}

.clear {
  zoom:1;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  &:before {
    content: '';
    display: table;
  }
}

#app {
  height: 100%;
  @extend .clear;
}


.break {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/*
** rework 分界线
** ------------
*/
/* color */
$green:#41B883;/* 分享、评论数*/
$green-2:#A6CC55;
$red:#E74C3C;/* 置顶 */
$blue:#3498DB;/* 问答 */
$yellow:#E67E22;/* 精华 */
$purple:#9B59B6;/* 招聘 */
$white: #ffffff;/* 背景 */
$light: #d5dbdb;/* 边框 */
$title: #2c3e50;
$text: #34495e;
/* font-size */
$font-xl: 18px;
$font-l: 16px;
$font-m: 14px;
$font-s: 12px;
$font-xs: 10px;
/* 基础布局 */
$gap: 5px;
$pd-5: $gap;
$pd-10: $gap*2;
$pd-15: $gap*3;
$border: 1px solid $light;


/* 综合布局 */
.text-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/****
 **common样式
 *****/
.author {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  line-height: 1.5;
  .avatar {
    width: 40px;
    height: 40px;
    margin-right: 1em;
    border: 1px solid #f3f3f3;
    border-radius: 50%;
    &--m{
      border-radius: 10px;
    }
  }
}
.tab {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  text-align: center;
  a {
    flex: auto;
    color: $text;
    line-height: 3;
    font-weight: bold;
    border-bottom: 2px solid #d4d4d4;
    &:first-child {
      border-right: 1px solid #d4d4d4;
    }
    &.active {
      color: $red;
      border-bottom-color: $red;
    }
  }
}
/* tag背景颜色 */
.share {
  background: $green;
}
.ask {
  background: $blue;
}
.job {
  background: $purple;
}
.good {
  background: $yellow;
}
.top {
  background: $red;
}




 

/* iconfont */
@font-face {
  font-family: 'iconfont';  /* project id 645140 */
  src: url('//at.alicdn.com/t/font_645140_z50g1ewg3qnf80k9.eot');
  src: url('//at.alicdn.com/t/font_645140_z50g1ewg3qnf80k9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_645140_z50g1ewg3qnf80k9.woff') format('woff'),
  url('//at.alicdn.com/t/font_645140_z50g1ewg3qnf80k9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_645140_z50g1ewg3qnf80k9.svg#iconfont') format('svg');
}


.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-tianjia:before { content: "\e69e"; margin-right: 30px; }
.icon-fenxiang:before { content: "\e7a3"; margin-right: 30px; }
.icon-shezhi:before { content: "\e601"; margin-right: 30px;}
.icon-wenda:before { content: "\e7c9"; margin-right: 30px;}
.icon-hao:before { content: "\e7a7"; margin-right: 30px;}
.icon-quanbu:before { content: "\e7b7"; margin-right: 30px;}
.icon-zhaopin:before { content: "\e70f"; margin-right: 30px;}
.icon-xiaoxi:before { content: "\e628"; margin-right: 30px;}
.icon-about:before { content: "\e648"; margin-right: 30px;}

