#hd {
  position:fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width:100%;
  height:46px;
  border-bottom: 2px solid #e8e8e8;
  background-color: #fff;
  transition: all .5s;
  /* 右移显示菜单 */
  &.open{
    transition: all .5s;
    left: 200px;
  }
}
.nv-bar {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:36px;  
  padding:$pd-5 $pd-10;
  &__menu-btn{
    width:19px;
    height:16px;
    background:url('../static/image/nav_icon.png') no-repeat center;
    background-size: 19px 16px;
  }
  &__txt{
    font-size: 16px;
  }
  &__add{
    .add-icon{
      border-radius: 5px;
      color:$green;
      font-size: 20px;
    }
  }
}
.page-cover {
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom:0;
  background: rgba(20, 20, 20, .7);
}